@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	ViewData["Truc"] = "Bonjour";
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <span>
	@ViewData["Truc"]
</span>
 *@
@* <div>
	<img src="https://upload.wikimedia.org/wikipedia/en/f/f7/28_Days_Poster.jpg"/>
	<h4>28 Days</h4>
	<span>2000</span>
	<div>
		<span>Sandra Bullock</span>
		<span>Viggo Mortensen</span>
	</div>
	<div>
		<span>Drama</span>
		<span>Comedy</span>
	</div>
	<div>
		28 Days is a 2000 American comedy-drama film directed by Betty Thomas and written by Susannah Grant. Sandra Bullock stars as Gwen Cummings, a newspaper columnist obliged to enter rehabilitation for alcoholism. The film costars Viggo Mortensen, Dominic West, Elizabeth Perkins, Azura Skye, Steve Buscemi, and Diane Ladd.
	</div>
</div> *@



<div class="album py-5 bg-light">
	<div class="container">
	  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">



		<div class="col">
		  <div class="card shadow-sm">
			<img class="bd-placeholder-img card-img-top" src="https://upload.wikimedia.org/wikipedia/en/f/f7/28_Days_Poster.jpg"/>
			  @* <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> *@
			<div class="card-body">
			  <p class="card-text">
				  <h3>28 Days</h3>
				  28 Days is a 2000 American comedy-drama film directed by Betty Thomas and written by Susannah Grant. Sandra Bullock stars as Gwen Cummings, a newspaper columnist obliged to enter rehabilitation for alcoholism. The film costars Viggo Mortensen, Dominic West, Elizabeth Perkins, Azura Skye, Steve Buscemi, and Diane Ladd.
			  </p>

				  <div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</div>
				<small class="text-muted">2000</small>
			  </div>
			</div>
		  </div>
		</div>



	  </div>
	</div>
  </div>